@import "~bootstrap/dist/css/bootstrap.css";
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';


body{
  color: lightgray;
  font-family: "fantasy", "papyrus";
  background-image: url(../src/assets/peacock.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
