<main class="mt-5">
  <div id="intro" class="bg-image">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.45)">
      <div
        class="container d-flex align-items-center justify-content-center text-center h-100"
      >
        <div class="text-white">
          <h1 class="mb-3">Tiarra Blandin</h1>
          <h5 class="mb-4">Full-Stack Java Developer</h5>
        </div>
      </div>
    </div>
  </div><br>

  <div class="container">
    <section>
      <!-- About Me -->
      <div class="row">
        <div class="col-md-4 gx-5 mb-4">
          <div
            class="bg-image hover-overlay ripple shadow-2-strong rounded-5"
            data-mdb-ripple-color="light"
          >
            <img
              src="https://i.imgur.com/eCr6VpI.jpg"
              class="img-fluid rounded-5 border-light"
              style="height: 300px; width: 250px"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.15)"
              ></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
          <h4><strong>About Me</strong></h4>
          <p class="text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            consequatur eligendi quisquam doloremque vero ex debitis veritatis
            placeat unde animi laborum sapiente illo possimus, commodi
            dignissimos obcaecati illum maiores corporis.
          </p>
          <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
            itaque voluptate nesciunt laborum incidunt. Officia, quam
            consectetur. Earum eligendi aliquam illum alias, unde optio
            accusantium soluta, iusto molestiae adipisci et?
          </p>
        </div>
      </div><br>

      <!-- Stack -->
      <div class="row float-end">
        <div class="col-md-4 gx-5 mb-4">
          <p><strong>Languages</strong></p>
          <p class="text-muted">Java, JavaScript</p>
          <p><strong>Web</strong></p>
          <p class="text-muted">JavaScript, TypeScript, HTML, CSS, Bootstrap, ng-Bootstrap, MDB</p>
          <p><strong>Database</strong></p>
          <p class="text-muted">SQL, JPA, JDBC, JPQL</p>
        </div>
        <div class="col-md-4 gx-5 mb-4">
          <p><strong>API's</strong></p>
          <p class="text-muted">REST, JSON</p>
          <p><strong>Frameworks</strong></p>
          <p class="text-muted">
            Angular, Spring MVC, Spring Boot, Spring Data
          </p>
          <p><strong>Methodologies</strong></p>
          <p class="text-muted">Agile, SCRUM, TDD</p>
        </div>
        <div class="col-md-4 gx-5 mb-4">
          <br><br><br><br><br>
          <h4><strong>Technologies</strong></h4>

          <!-- <a href="#!">
            <div
            class="mask"
            style="background-color: rgba(251, 251, 251, 0.15)"
            ></div>
          </a> -->
      </div>
    </div>
  </section>
  </div>
  <br><br><br><br><br><br><br><br><br>

    <hr class="my-5" />

    <!-- experience -->

  <div class="container">
    <section class="text-center">
      <h4 class="mb-5"><strong>My Projects</strong></h4>

      <!-- Menrva Books -->
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card rounded-5 border-light">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
                class="img-fluid rounded-5"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Menrva Books</h5>
              <p class="card-text">
                Coming soon!
              </p>
            </div>
          </div>
        </div>

        <!-- Grimoire Collective -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card rounded-5 border-light">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="https://mdbootstrap.com/img/new/standard/nature/023.jpg"
                class="img-fluid rounded-5"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Grimoire Collective</h5>
              <p class="card-text">
                Coming soon!
              </p>
            </div>
          </div>
        </div>

        <!-- Allotrope Editorial -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card rounded-5 border-light">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                class="img-fluid rounded-5"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Allotrope Editorial</h5>
              <p class="card-text">
                Coming soon!
              </p>
            </div>
          </div>
        </div>

        <!-- Toon Throwback -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card rounded-5 border-light">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                class="img-fluid rounded-5"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toon Throwback</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>

        <!-- Rock Cycles -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card rounded-5 border-light">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                class="img-fluid rounded-5"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Rock Cycles</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>

        <!-- Pizza Palette -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card rounded-5 border-light">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                class="img-fluid rounded-5"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Pizza Palette</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>

        <!-- Book Directory -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card rounded-5 border-light">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                class="img-fluid rounded-5"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Book Directory</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="row">
<!--Section cards-->
<!-- <div async class="col-lg-4 col-md-4 mb-r">
<mdb-card-rotating #cards1>
<--Front Side-->
<!-- <div class="face front tp-box_side tp-box_front"> -->
<!-- Image-->
<!-- <div class="card-up">
<img src="/assets/images/backgrounds/{{teamcard.background}}" class="img-fluid">
</div> -->
<!--Avatar-->
<!-- <divclass="avatar"><imgsrc="/assets/avatars/{{teamcard.avatar}}"class="rounded-circle img-responsive">
</div> -->
<!--Content-->
<!-- <divclass="card-body"> -->
<!--Triggering button-->
<!-- <aclass="rotate-btn"data-card="card-1" (click)="cards1.toggle()"><iclass="fa fa-repeat"></i> Click here to rotate</a>
</div>
</div> -->
<!--/.Front Side-->
<!--Back Side-->
<!-- <divclass="back tp-box_side tp-box_back"> -->
<!--Content-->
<!-- <h4>About me</h4>
<hr> -->
<!--Social Icons-->
<!-- <ulclass="inline-ul">
<li *ngFor="let socialLink of teamcard.sociallinks">
<aclass="icons-sm fb-ic"><iclass="fa fa-facebook"></i></a>
</li>
</ul> -->
<!--Triggering button-->
<!-- <aclass="rotate-btn"data-card="card-1" (click)="cards1.toggle()"><iclass="fa fa-undo"></i> Click here to rotate back</a>
</div> -->
<!--/.Back Side-->
<!-- </mdb-card-rotating>
</div> -->
<!--Grid column-->
</div>

  </div>
</main>
